/*标签选择*/
			body{/*给整个页面设置颜色*/
				background-color: pink;}
			/*类型选择器*/	
			.container{
				width: 960px;/*宽度*/
				height: 450px;/*高度*/
				/*background-color:black;*/
				margin: 200px auto;
				/*外边距  
				 * 顺序
				 * 四个数 上右下左
				 * 三个数 上 右左 下
				 * 两个数 上下 右左
				 */
			}
			.pic{
				width: 200px;
			
			}
			.container img{
				padding: 10px 10px 10px;/*内边距*/
				background-color: black;
				/*阴影   右移5px 下移5px  虚化3px 颜色和透明度*/
				box-shadow: 5px 5px 3px rgba(50,50,50,0.5);	
				/*添加过渡效果*/
				transition: all 0.5s;
				
			}
			.pic1{
				/*变形      旋转*/
				transform: rotate(-5deg);
			}
			.pic2{
				transform: rotate(5deg);
			}
			.pic3{
				transform: rotate(-3deg);
			}
			.pic4{
				transform: rotate(3deg);
			}
			.pic5{
				transform: rotate(-7deg);
			}
			.pic6{
				transform: rotate(7deg);
			}
			.pic7{
				transform: rotate(-10deg);
			}
			.pic8{
				transform: rotate(0deg);
			}
			/*鼠标移动事件*/
			.container img:hover{
				transform: rotate(0deg) /*放大*/scale(1.2);
			}