/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* /////////////////////////////////////////////////////////////////////////////////// */
/* 选项卡 */

.tab{
  width: 310px;
  margin: 0 auto;
  border-top: 2px solid #3ae;
}


/* ///////////////////////////////////////////////////////////////////////////// */

.tab > .hd{
  overflow: hidden;
}
.tab > .hd > span{
  float: left;
  width: 102px;
  line-height: 29px;
  border-left: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  background: #efefef;
  text-align: center;
  font-size: 14px;
}
.tab > .hd > span.last{
  border-right: 1px solid #cfcfcf;
}
.tab > .hd > span.current{
  border-bottom-color: #fff;
  font-weight: bold;
  background: #fff;
}
.tab > .hd > span > a{
  color: #252525;
  text-decoration: none;
}
.tab > .hd > span > a:hover{
  color: #a00;
  text-decoration: underline;
}



/* //////////////////////////////////////////////////////////////////////////////// */



.tab > .bd{
  padding: 15px 0 15px 8px;
  overflow: hidden;
  border-left: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
}
.tab > .bd > div{
  display: none;
}
.tab > .bd > div.current{
  display: block;
}